@page
@model HospitalManagement_NPPThinh_SE160111.Pages.Accounts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StaffAccount</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.Hrfullname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.Hrfullname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.Hremail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.Hremail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.Hrpassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.Hrpassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAccount.StaffRole)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffAccount.StaffRole)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.StaffAccount?.HraccountId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
