@page
@model HospitalManagement_NPPThinh_SE160111.Pages.Accounts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffAccount[0].Hrfullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffAccount[0].Hremail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffAccount[0].Hrpassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffAccount[0].StaffRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StaffAccount) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hrfullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hremail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hrpassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffRole)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.HraccountId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.HraccountId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.HraccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
