@page
@using Equipments_NPPThinh.Pages;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    var type = HttpContext.Session.GetString("Type");
}
<style>
    .table-container {
        display: flex;
        justify-content: center;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    thead th {
        background-color: #f2f2f2;
    }
</style>


@if (type == "1")
{
    <div class="button-container">
        <a asp-page="./EyeCreate" class="create-button">Create</a>
    </div>
}

<div>
    <form method="post">
        <label for="sortOrder">Sắp xếp theo:</label>
        <select id="sortOrder" name="sortOrder">
            <option value="ascending">Số lượng tăng dần</option>
            <option value="descending">Số lương giảm dần</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Equipement Code</th>
                <th>Equipement Name</th>
                <th>Equipement Description</th>
                <th>Model</th>
                <th>
                    Supplier Name
                    
                    
                </th>
                <th>Quantity</th>
                <th>Created Date</th>
                <th>Room</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var equipment in Model.Equipments)
            {
                <tr>
                    <td>@equipment.EqCode</td>
                    <td>@equipment.EqName</td>
                    <td>@equipment.Description</td>
                    <td>@equipment.Model</td>
                    <td>@equipment.SupplierName</td>
                    <td>@equipment.Quantity</td>
                    <td>@equipment.CreatedAt</td>
                    <td>@*@equipment.Room.RoomId*@</td>
                    @if (type == "1")
                    {
                        <td style="display: flex;">
                            <a asp-page="./EquipmentUpdate" asp-route-EquipmentId="@equipment.EqId" class="btn btn-primary">Update</a>

                            <a asp-page="./EquipmentDelete" asp-route-EquipmentId="@equipment.EqId" class="btn btn-primary">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Hiển thị phân trang -->
<div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                    <a class="page-link" href="/Index?pageIndex=@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>